USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 18/04/2026 5:21:17 PM ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'D:\03_DoanLinhChi_QLBHAcecook_9405\QLBH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'D:\03_DoanLinhChi_QLBHAcecook_9405\QLBH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  UserDefinedFunction [dbo].[f_KiemTraHanMucNo]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[f_KiemTraHanMucNo](@MaKH CHAR(10), @GiaTriDonHangThem FLOAT)
RETURNS BIT -- 1: Đủ hạn mức, 0: Vượt hạn mức
AS
BEGIN
    DECLARE @TongNoHienTai FLOAT;
    DECLARE @HanMucNo FLOAT;
    DECLARE @KetQua BIT;

    SELECT @TongNoHienTai = TongNo, @HanMucNo = HanMucNo
    FROM KHACHHANG
    WHERE MaKH = @MaKH;

    IF @HanMucNo = 0
        SET @KetQua = 1; -- Khách hàng không giới hạn nợ
    ELSE IF @TongNoHienTai + @GiaTriDonHangThem <= @HanMucNo
        SET @KetQua = 1; -- Đủ hạn mức
    ELSE
        SET @KetQua = 0; -- Vượt hạn mức

    RETURN @KetQua;
END
GO
/****** Object:  UserDefinedFunction [dbo].[f_LayTongTonKhoSP]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[f_LayTongTonKhoSP]
(
    @MaSP CHAR(10)
)
RETURNS INT
AS
BEGIN
    DECLARE @TongTon INT;

    SELECT @TongTon = SUM(SoLuongTonKho)
    FROM TONKHO
    WHERE MaSP = @MaSP;

    RETURN ISNULL(@TongTon, 0);
END
GO
/****** Object:  UserDefinedFunction [dbo].[f_TinhTongThanhToanDonHang]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[f_TinhTongThanhToanDonHang]
(
    @MaDH CHAR(5)
)
RETURNS FLOAT
AS
BEGIN
    DECLARE @TongThanhToan FLOAT;

    SELECT @TongThanhToan = SUM(SoLuong * DonGia * (1 - ISNULL(ChietKhau, 0)))
    FROM CHITIETDONHANG
    WHERE MaDH = @MaDH;

    RETURN ISNULL(@TongThanhToan, 0);
END
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [char](10) NOT NULL,
	[MaDH] [char](5) NULL,
	[NgayBan] [datetime] NULL,
	[TongTienHang] [float] NULL,
	[Thue] [float] NULL,
	[TongThanhToan] [float] NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
 CONSTRAINT [PK__HOADON__2725A6E0260276B0] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [char](10) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[SDT] [char](10) NULL,
	[LoaiKH] [nvarchar](50) NULL,
	[TongNo] [float] NULL,
	[HanMucNo] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MaDH] [char](5) NOT NULL,
	[MaKH] [char](10) NULL,
	[MaNV] [char](10) NULL,
	[NgayDat] [datetime] NULL,
	[TrangThai] [nvarchar](200) NULL,
	[NgayGiaoHang] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MaDH] [char](5) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NULL,
	[ChietKhau] [float] NULL,
	[DonGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DonHangChoLapHoaDon]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_DonHangChoLapHoaDon]
AS
SELECT
    DH.MaDH,
    DH.NgayDat,
    KH.MaKH,
    KH.TenKH,
    SUM(CT.SoLuong * CT.DonGia * (1 - ISNULL(CT.ChietKhau, 0))) AS TongTienHang
FROM
    DONHANG DH
JOIN
    KHACHHANG KH ON DH.MaKH = KH.MaKH
JOIN
    CHITIETDONHANG CT ON DH.MaDH = CT.MaDH
WHERE
    DH.TrangThai = N'Giao thành công' 
    AND DH.MaDH NOT IN (SELECT MaDH FROM HOADON)
GROUP BY
    DH.MaDH, DH.NgayDat, KH.MaKH, KH.TenKH;
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [char](10) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[DonViTinh] [nvarchar](10) NULL,
	[HanSuDungNgay] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ChiTietDonHang]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_ChiTietDonHang]
AS
SELECT
    CT.MaDH,
    SP.TenSP,
    CT.MaSP, -- Cần MaSP để insert vào ChiTietHoaDon từ code C#
    CT.SoLuong,
    CT.DonGia, -- Đơn giá gốc
    CT.ChietKhau,
    (CT.SoLuong * CT.DonGia * (1 - ISNULL(CT.ChietKhau, 0))) AS ThanhTien
FROM
    CHITIETDONHANG CT
JOIN
    SANPHAM SP ON CT.MaSP = SP.MaSP;
GO
/****** Object:  View [dbo].[V_KhachHangVuotHanMucNo]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_KhachHangVuotHanMucNo]
AS
SELECT
    MaKH,
    TenKH,
    SDT,
    LoaiKH,
    TongNo,
    HanMucNo,
    (TongNo - HanMucNo) AS SoTienVuotHanMuc
FROM KHACHHANG
WHERE
    TongNo > HanMucNo
    AND HanMucNo > 0
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MaKho] [char](5) NOT NULL,
	[TenKho] [nvarchar](50) NULL,
	[DiaDiem] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO](
	[MaKho] [char](5) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuongTonKho] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ThongKeTonKhoTheoKho]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_ThongKeTonKhoTheoKho]
AS
SELECT
    K.MaKho,
    K.TenKho,
    SP.TenSP,
    T.SoLuongTonKho
FROM TONKHO T
JOIN KHO K ON T.MaKho = K.MaKho
JOIN SANPHAM SP ON T.MaSP = SP.MaSP
WHERE T.SoLuongTonKho > 0
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MaPX] [char](5) NOT NULL,
	[MaDH] [char](5) NULL,
	[MaKho] [char](5) NULL,
	[NgayXuat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[f_BaoCaoXuatKhoTheoNgay]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[f_BaoCaoXuatKhoTheoNgay](@NgayBatDau DATE, @NgayKetThuc DATE)
RETURNS TABLE
AS
RETURN
(
    SELECT
        PX.MaPX,
        PX.NgayXuat,
        K.TenKho,
        SP.TenSP,
        XK.MaSP,
        XK.SoLuong
    FROM
        PHIEUXUAT PX
    JOIN
        KHO K ON PX.MaKho = K.MaKho
    JOIN
        XUATKHO XK ON PX.MaPX = XK.MaPX
    JOIN
        SANPHAM SP ON XK.MaSP = SP.MaSP
    WHERE
        CAST(PX.NgayXuat AS DATE) BETWEEN @NgayBatDau AND @NgayKetThuc
);
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaHD] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK__CHITIETH__F557F66160D40257] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPN]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPN](
	[MaPN] [char](5) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPX]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPX](
	[MaPX] [char](5) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOSANXUAT]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOSANXUAT](
	[MaLo] [char](10) NOT NULL,
	[MaSP] [char](10) NULL,
	[NgaySX] [date] NULL,
	[NgayHetHan] [date] NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [char](10) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[NgaySinh] [datetime] NULL,
	[CCCD] [char](12) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SDT] [char](10) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUGIAOHANG]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUGIAOHANG](
	[MaPGH] [char](5) NOT NULL,
	[MaDH] [char](5) NULL,
	[MaHD] [char](10) NULL,
	[NgayGiao] [datetime] NULL,
	[TrangThaiGH] [nvarchar](200) NULL,
 CONSTRAINT [PK__PHIEUGIA__3AE3DEBFD49DA67F] PRIMARY KEY CLUSTERED 
(
	[MaPGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaPN] [char](5) NOT NULL,
	[MaKho] [char](5) NULL,
	[NgayNhap] [datetime] NULL,
	[LyDo] [nvarchar](200) NULL,
	[MaPGH] [char](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TenDN] [varchar](10) NOT NULL,
	[MaNV] [char](10) NULL,
	[MatKhau] [varchar](10) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETDONHANG] ([MaDH], [MaSP], [SoLuong], [ChietKhau], [DonGia]) VALUES (N'D152 ', N'SP001     ', 120, 0, 115000)
INSERT [dbo].[CHITIETDONHANG] ([MaDH], [MaSP], [SoLuong], [ChietKhau], [DonGia]) VALUES (N'D152 ', N'SP004     ', 85, 0, 240000)
INSERT [dbo].[CHITIETDONHANG] ([MaDH], [MaSP], [SoLuong], [ChietKhau], [DonGia]) VALUES (N'D152 ', N'SP009     ', 150, 0.05, 180000)
GO
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (N'HD0214    ', N'SP020     ', 210, 115000)
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (N'HD0214    ', N'SP028     ', 120, 240000)
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (N'HD0214    ', N'SP036     ', 160, 180000)
GO
INSERT [dbo].[DONHANG] ([MaDH], [MaKH], [MaNV], [NgayDat], [TrangThai], [NgayGiaoHang]) VALUES (N'D152 ', N'KH03      ', N'NV11      ', CAST(N'2025-10-02T08:30:00.000' AS DateTime), N'Giao thành công', CAST(N'2025-10-03T14:20:00.000' AS DateTime))
INSERT [dbo].[DONHANG] ([MaDH], [MaKH], [MaNV], [NgayDat], [TrangThai], [NgayGiaoHang]) VALUES (N'D204 ', N'KH19      ', N'NV17      ', CAST(N'2025-10-18T10:10:00.000' AS DateTime), N'Giao thành công', CAST(N'2025-10-19T12:30:00.000' AS DateTime))
INSERT [dbo].[DONHANG] ([MaDH], [MaKH], [MaNV], [NgayDat], [TrangThai], [NgayGiaoHang]) VALUES (N'D327 ', N'KH07      ', N'NV15      ', CAST(N'2025-10-04T09:10:00.000' AS DateTime), N'Giao thành công', CAST(N'2025-10-05T16:40:00.000' AS DateTime))
GO
INSERT [dbo].[HOADON] ([MaHD], [MaDH], [NgayBan], [TongTienHang], [Thue], [TongThanhToan], [PhuongThucThanhToan]) VALUES (N'HD01      ', N'DH01 ', CAST(N'2025-08-01T00:00:00.000' AS DateTime), 918650000, 77360000, 996010000, N'Chuyển khoản')
INSERT [dbo].[HOADON] ([MaHD], [MaDH], [NgayBan], [TongTienHang], [Thue], [TongThanhToan], [PhuongThucThanhToan]) VALUES (N'HD02      ', N'DH02 ', CAST(N'2025-08-02T00:00:00.000' AS DateTime), 918650000, 77360000, 996010000, N'Chuyển khoản')
INSERT [dbo].[HOADON] ([MaHD], [MaDH], [NgayBan], [TongTienHang], [Thue], [TongThanhToan], [PhuongThucThanhToan]) VALUES (N'HD0214    ', N'D885 ', CAST(N'2026-04-15T08:01:21.743' AS DateTime), 78238500, 7823850, 86062350, N'Chuyển khoản')
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [LoaiKH], [TongNo], [HanMucNo]) VALUES (N'KH01      ', N'Hệ thống WinMart Miền Bắc', N'Hai Bà Trưng, Hà Nội', N'0243999888', N'Siêu thị', 2000000000, 50000000000)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [LoaiKH], [TongNo], [HanMucNo]) VALUES (N'KH02      ', N'Siêu thị GO! (Big C) Miền Nam', N'Bình Tân, TP.HCM', N'0283877777', N'Siêu thị', 1500000000, 40000000000)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [LoaiKH], [TongNo], [HanMucNo]) VALUES (N'KH03      ', N'Aeon Mall Hà Đông', N'Hà Đông, Hà Nội', N'0243333333', N'Siêu thị', 500000000, 30000000000)
GO
INSERT [dbo].[KHO] ([MaKho], [TenKho], [DiaDiem]) VALUES (N'K01  ', N'Kho Tổng Bắc Ninh (Miền Bắc)', N'KCN Tiên Sơn, Bắc Ninh')
INSERT [dbo].[KHO] ([MaKho], [TenKho], [DiaDiem]) VALUES (N'K02  ', N'Kho Tổng Bình Dương (Miền Nam)', N'KCN VSIP 1, Bình Dương')
INSERT [dbo].[KHO] ([MaKho], [TenKho], [DiaDiem]) VALUES (N'K03  ', N'Kho Đà Nẵng (Miền Trung)', N'KCN Hòa Khánh, Đà Nẵng')
GO
INSERT [dbo].[LOSANXUAT] ([MaLo], [MaSP], [NgaySX], [NgayHetHan], [GhiChu]) VALUES (N'L00125    ', N'SP001     ', CAST(N'2025-07-19' AS Date), CAST(N'2025-10-27' AS Date), N'Lô hàng mới nhập ngày 1')
INSERT [dbo].[LOSANXUAT] ([MaLo], [MaSP], [NgaySX], [NgayHetHan], [GhiChu]) VALUES (N'L00225    ', N'SP002     ', CAST(N'2025-07-18' AS Date), CAST(N'2025-12-15' AS Date), N'Lô hàng mới nhập ngày 2')
INSERT [dbo].[LOSANXUAT] ([MaLo], [MaSP], [NgaySX], [NgayHetHan], [GhiChu]) VALUES (N'L00325    ', N'SP003     ', CAST(N'2025-07-17' AS Date), CAST(N'2026-03-14' AS Date), N'Lô hàng mới nhập ngày 3')
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [NgaySinh], [CCCD], [GioiTinh], [SDT], [DiaChi], [ChucVu]) VALUES (N'NV01      ', N'Nguyễn Văn Nam', CAST(N'1985-01-01T00:00:00.000' AS DateTime), N'001085000001', N'Nam', N'0901111111', N'Hà Nội', N'Quản lý')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [NgaySinh], [CCCD], [GioiTinh], [SDT], [DiaChi], [ChucVu]) VALUES (N'NV02      ', N'Trần Thị Hoa', CAST(N'1990-05-05T00:00:00.000' AS DateTime), N'001090000002', N'Nữ', N'0902222222', N'TP.HCM', N'Quản lý')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [NgaySinh], [CCCD], [GioiTinh], [SDT], [DiaChi], [ChucVu]) VALUES (N'NV03      ', N'Phạm Thị Tuyết', CAST(N'1992-12-12T00:00:00.000' AS DateTime), N'001092000003', N'Nữ', N'0903333333', N'Bình Dương', N'Kế toán')
GO
INSERT [dbo].[PHIEUGIAOHANG] ([MaPGH], [MaDH], [MaHD], [NgayGiao], [TrangThaiGH]) VALUES (N'PG01 ', N'DH01 ', N'HD01      ', CAST(N'2025-08-01T00:00:00.000' AS DateTime), N'Giao thành công')
INSERT [dbo].[PHIEUGIAOHANG] ([MaPGH], [MaDH], [MaHD], [NgayGiao], [TrangThaiGH]) VALUES (N'PG02 ', N'DH02 ', N'HD02      ', CAST(N'2025-08-02T00:00:00.000' AS DateTime), N'Giao thành công')
INSERT [dbo].[PHIEUGIAOHANG] ([MaPGH], [MaDH], [MaHD], [NgayGiao], [TrangThaiGH]) VALUES (N'PG03 ', N'DH03 ', N'HD03      ', CAST(N'2025-08-03T00:00:00.000' AS DateTime), N'Giao thành công')
GO
INSERT [dbo].[PHIEUNHAP] ([MaPN], [MaKho], [NgayNhap], [LyDo], [MaPGH]) VALUES (N'PN01 ', N'K09  ', CAST(N'2025-08-30T00:00:00.000' AS DateTime), N'Hàng hỏng/lỗi kiểm kê ngày Aug 30 2025 12:00AM', NULL)
INSERT [dbo].[PHIEUNHAP] ([MaPN], [MaKho], [NgayNhap], [LyDo], [MaPGH]) VALUES (N'PN02 ', N'K06  ', CAST(N'2025-08-31T00:00:00.000' AS DateTime), N'Hàng hỏng/lỗi kiểm kê ngày Aug 31 2025 12:00AM', NULL)
INSERT [dbo].[PHIEUNHAP] ([MaPN], [MaKho], [NgayNhap], [LyDo], [MaPGH]) VALUES (N'PN03 ', N'K08  ', CAST(N'2025-09-01T00:00:00.000' AS DateTime), N'Hàng hỏng/lỗi kiểm kê ngày Sep  1 2025 12:00AM', NULL)
GO
INSERT [dbo].[PHIEUXUAT] ([MaPX], [MaDH], [MaKho], [NgayXuat]) VALUES (N'PX01 ', N'DH01 ', N'K01  ', CAST(N'2025-07-31T00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUXUAT] ([MaPX], [MaDH], [MaKho], [NgayXuat]) VALUES (N'PX02 ', N'DH02 ', N'K01  ', CAST(N'2025-08-01T00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUXUAT] ([MaPX], [MaDH], [MaKho], [NgayXuat]) VALUES (N'PX03 ', N'DH03 ', N'K01  ', CAST(N'2025-08-02T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonViTinh], [HanSuDungNgay], [DonGia]) VALUES (N'SP001     ', N'Mì Hảo Hảo Tôm Chua Cay', N'Thùng', 100, CAST(115000 AS Decimal(18, 0)))
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonViTinh], [HanSuDungNgay], [DonGia]) VALUES (N'SP002     ', N'Mì Hảo Hảo Sa Tế Hành', N'Thùng', 150, CAST(115000 AS Decimal(18, 0)))
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonViTinh], [HanSuDungNgay], [DonGia]) VALUES (N'SP003     ', N'Phở Đệ Nhất Bò', N'Thùng', 240, CAST(210000 AS Decimal(18, 0)))
GO
INSERT [dbo].[TAIKHOAN] ([TenDN], [MaNV], [MatKhau], [VaiTro]) VALUES (N'acc01', N'NV03      ', N'Acc01!2025', N'Kế toán')
INSERT [dbo].[TAIKHOAN] ([TenDN], [MaNV], [MatKhau], [VaiTro]) VALUES (N'acc02', N'NV04      ', N'Acc02!2025', N'Kế toán')
INSERT [dbo].[TAIKHOAN] ([TenDN], [MaNV], [MatKhau], [VaiTro]) VALUES (N'acc03', N'NV05      ', N'Acc03!2025', N'Kế toán')
GO
INSERT [dbo].[TONKHO] ([MaKho], [MaSP], [SoLuongTonKho]) VALUES (N'K01  ', N'SP001     ', 44950)
INSERT [dbo].[TONKHO] ([MaKho], [MaSP], [SoLuongTonKho]) VALUES (N'K01  ', N'SP004     ', 20000)
INSERT [dbo].[TONKHO] ([MaKho], [MaSP], [SoLuongTonKho]) VALUES (N'K01  ', N'SP005     ', 1000)
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (N'Chưa có') FOR [DiaChi]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((0)) FOR [TongNo]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((0)) FOR [HanMucNo]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (N'Chưa có') FOR [DiaChi]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHOA__MaHD__25518C17] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK__CHITIETHOA__MaHD__25518C17]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHOA__MaSP__2645B050] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK__CHITIETHOA__MaSP__2645B050]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PHIEUNHAP] ([MaPN])
GO
ALTER TABLE [dbo].[CHITIETPX]  WITH CHECK ADD FOREIGN KEY([MaPX])
REFERENCES [dbo].[PHIEUXUAT] ([MaPX])
GO
ALTER TABLE [dbo].[CHITIETPX]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK__HOADON__MaDH__5AEE82B9] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK__HOADON__MaDH__5AEE82B9]
GO
ALTER TABLE [dbo].[LOSANXUAT]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUGIAOH__MaDH__66603565] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] CHECK CONSTRAINT [FK__PHIEUGIAOH__MaDH__66603565]
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUGIAOH__MaHD__6754599E] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] CHECK CONSTRAINT [FK__PHIEUGIAOH__MaHD__6754599E]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MaKho])
REFERENCES [dbo].[KHO] ([MaKho])
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MaKho])
REFERENCES [dbo].[KHO] ([MaKho])
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_DONHANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_DONHANG]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD FOREIGN KEY([MaKho])
REFERENCES [dbo].[KHO] ([MaKho])
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [CK_CHITIETDH_ChietKhau] CHECK  (([ChietKhau]>=(0) AND [ChietKhau]<=(1)))
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [CK_CHITIETDH_ChietKhau]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [CK__CHITIETHO__SoLuo__2739D489] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [CK__CHITIETHO__SoLuo__2739D489]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETPX]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[LOSANXUAT]  WITH CHECK ADD  CONSTRAINT [CK_NgayHetHan] CHECK  (([NgayHetHan]>[NgaySX]))
GO
ALTER TABLE [dbo].[LOSANXUAT] CHECK CONSTRAINT [CK_NgayHetHan]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([HanSuDungNgay]>(0)))
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_MatKhau_Len] CHECK  ((len([MatKhau])>(8)))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK_TaiKhoan_MatKhau_Len]
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD CHECK  (([SoLuongTonKho]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatTonKhoSauXuat]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CapNhatTonKhoSauXuat]
    @MaPX CHAR(5)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        IF EXISTS (
            SELECT 1
            FROM XUATKHO x
            JOIN PHIEUXUAT p ON x.MaPX = p.MaPX
            LEFT JOIN TONKHO t ON t.MaSP = x.MaSP AND t.MaKho = p.MaKho
            WHERE x.MaPX = @MaPX AND (t.SoLuongTonKho IS NULL OR t.SoLuongTonKho < x.SoLuong)
        )
        BEGIN
            THROW 51004, 'Ton kho khong du de xuat', 1;
        END

        UPDATE t
        SET t.SoLuongTonKho = t.SoLuongTonKho - x.SoLuong
        FROM TONKHO t
        JOIN PHIEUXUAT p ON t.MaKho = p.MaKho
        JOIN XUATKHO x ON x.MaPX = p.MaPX AND x.MaSP = t.MaSP
        WHERE p.MaPX = @MaPX;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoHoaDonTuDonHang]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_TaoHoaDonTuDonHang]
    @MaDH CHAR(5)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        IF NOT EXISTS (SELECT 1 FROM DONHANG WHERE MaDH=@MaDH AND TrangThai = N'Giao thành công')
            THROW 51002, 'Don hang khong ton tai hoac chua duoc giao', 1;

        IF EXISTS (SELECT 1 FROM HOADON WHERE MaDH = @MaDH)
            THROW 51003, 'Da co hoa don cho don hang nay', 1;

        DECLARE @MaHD CHAR(5);
        WHILE 1=1
        BEGIN
            SET @MaHD = 'HD' + RIGHT('00' + CAST(ABS(CHECKSUM(NEWID())) % 100 AS VARCHAR(3)),2);
            IF NOT EXISTS (SELECT 1 FROM HOADON WHERE MaHD = @MaHD) BREAK;
        END

        DECLARE @TongTienHang FLOAT;
        SELECT @TongTienHang = SUM(d.SoLuong * d.DonGia * (1 - ISNULL(d.ChietKhau,0))) FROM CHITIETDONHANG d WHERE d.MaDH = @MaDH;

        INSERT INTO HOADON(MaHD, MaDH, NgayBan, TongTienHang, Thue, TongThanhToan, PhuongThucThanhToan)
        VALUES(@MaHD, @MaDH, GETDATE(), ISNULL(@TongTienHang,0), ISNULL(@TongTienHang,0)*0.08, ISNULL(@TongTienHang,0)*1.03, N'Chuyển khoản');

        INSERT INTO CHITIETHOADON(MaHD, MaSP, SoLuong, DonGia)
        SELECT @MaHD, ct.MaSP, ct.SoLuong, ct.DonGia FROM CHITIETDONHANG ct WHERE ct.MaDH = @MaDH;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemKhachHang]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TimKiemKhachHang]
    @TuKhoa NVARCHAR(100)
AS
BEGIN
    SELECT MaKH, TenKH, SDT, DiaChi
    FROM KHACHHANG
    WHERE MaKH = @TuKhoa
       OR TenKH LIKE '%' + @TuKhoa + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TongHopDoanhThuTheoThang]    Script Date: 18/04/2026 5:21:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_TongHopDoanhThuTheoThang]
AS
BEGIN
    SELECT
        YEAR(NgayBan) AS Nam,
        MONTH(NgayBan) AS Thang,
        SUM(TongThanhToan) AS TongDoanhThu
    FROM HOADON
    GROUP BY YEAR(NgayBan), MONTH(NgayBan)
    ORDER BY Nam DESC, Thang DESC;
END
GO
USE [master]
GO
